.applied-job-list {
  gap: 1.5rem;
  width: 100%;
}
.avatar-box {
  border: 1px solid var(--accent-color);
}
.applied-card {
  background-color: var(--bg-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  cursor: pointer;
}
.applied-card:hover {
  background-color: #f7f7f7;
  border: 1px solid grey;
}
.applied-card .card-subtext {
  padding: 0;
}

.applied-card .card-head {
  padding: 1rem 0.5rem 0.5rem 0.5rem;
}
