.card-footer {
  justify-content: flex-start;
  padding: 0;
}
.card-header {
  margin: 0;
}
.card-footer button {
  background-color: var(--accent-color);
  color: var(--bg-color);
}
.basic-card {
  box-shadow: none;
  background-color: var(--accent-color);
  color: var(--bg-color);
  width: 100%;
}
.card-head {
  gap: 1rem;
  padding-bottom: 5px;
}
.joblist {
  gap: 1rem;
}
