@import url("./css/base/base.css");
@import url("./css/base/typography.css");
@import url("./css/base/utilities.css");
@import url("./css/layout/nav.css");
@import url("./css/layout/sidebar.css");
@import url("./css/layout/recommended.css");
@import url("./css/layout/applied.css");
@import url("./css/layout/joblistCard.css");
@import url("./css/layout/appliedjobCard.css");
